@import url('https://fonts.googleapis.com/css2?family=Potta+One&family=Quicksand:wght@400;500;700&family=Source+Code+Pro:wght@500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: #FDF0E1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
