@import url('https://fonts.googleapis.com/css2?family=Potta+One:wght@200;400;500;700&family=Quicksand:wght@200;400;500;700&family=Source+Code+Pro:wght@500&display=swap');
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif !important;
  background-color: black !important;
  width: 100vw;
  color: white
}

a {
  color: inherit !important;
    text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

.logo {
  font-family: "Potta One", cursive;
}