@import url('https://fonts.googleapis.com/css2?family=Potta+One&family=Quicksand:wght@400;500;700&family=Source+Code+Pro:wght@500&display=swap');
@import "../node_modules/bootstrap/dist/css/bootstrap.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif !important;
  background-color: #FDF0E1 !important;
  width: 100vw;
}

a {
  color: inherit !important;
    text-decoration: none !important;
}

* {
  box-sizing: border-box;
}
